*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    color: white;
    background-color: gray;
} */

/* Two column page layout */
.main-flex-items {
    display: flex;
}

/* Container holding the background image */
.hero-container {
    background-image: url('palm.jpg');

    /* 1. Prevent tiling or stretching */
    background-position: center;
    background-size: cover; 
    
    /* 2. Set dimensions matching the palm.jpg file dimension */
    width: 100%;
    max-width: 600px; /* For desktop */
    height: 100vh;

    /* Flexbox layout to center the lofo right in the middle of palm.jpg */
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 20vh; /* Moves items more up */ 
}

.logo-letters {
    max-width: 300px;
    height: auto;
    /* Original logo image has black letters and white background, so here we invert the black letters to white and the white background becomes black */
    filter: invert(1);

    /* this drops the black background */
    mix-blend-mode: screen;
    /* border: 3px solid rebeccapurple; */

    margin-left: -50px;
}

.logo-pic {
    width: 100px;
    height: auto;

    filter: invert(1);
    /* border: 3px solid red; */
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
}

/* .middle-row {
    border: 2px solid red;
} */

.form-top-row,
.form-mid-row,
.form-bottom-row {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
}

label {
    display: block;
}

/* Colors for input border on default, hover and active 
Soft Cool Gray (Modern Minimal)	
#e2e8f0	#cbd5e1	#0ea5e9 (Cyan/Sky) */
input {
    border-color: #e2e8f0;
    border-radius: 3px;
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
}

input:hover {
    border-color: #cbd5e1;
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: #0ea5e9;
    box-shadow: gray;
    /* 0 offset, 0 blur, 3px spread ring with 20% opacity */
    box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.2);
}

.bottom-row {
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background-color: #596D48;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

input[type='password']:user-invalid {
    border-color: red;
}

.bjcree-regular {
  font-family: "BJCree", serif;
  /* font-weight: 400; */
  font-style: normal;
}